@using System.Drawing
@model DidactischeLeermiddelen.ViewModels.MaterialenViewModel

@foreach (var item in Model.Materialen)
            {
    <div class="row materiaal">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <img src="@item.Foto" alt="@item.Foto" />
        </div>

        <div class="col-md-3 col-sm-4 col-xs-4">
            <h3 class="title">@Html.DisplayFor(modelItem => item.Naam)</h3>
            <h5 class="manufacturer">@Html.DisplayFor(modelItem => item.Firma)</h5>
            <h4 class="description">@Html.DisplayFor(modelItem => item.Omschrijving)</h4>
            <h5 class="info">Artikelnummer: @Html.DisplayFor(modelItem => item.MateriaalId)</h5>
            <h5 class="info">Status: @Html.DisplayFor(modelItem => item.Status)</h5>
        </div>
        <div class="col-md-2 hidden-sm hidden-xs">
            <div class="leergebied">
                @foreach (var leergebied in item.Leergebieden)
                {
                    <h4>@Html.DisplayFor(d => leergebied.Naam)</h4>
                }
            </div>

        </div>
        <div class="col-md-2 doelgroep hidden-sm hidden-xs">
            @foreach (var doelgroep in item.Doelgroepen)
            {
                <h5>@Html.DisplayFor(d => doelgroep.Naam)</h5>

            }
        </div>

        <div class="hidden-lg hidden-md col-sm-3 col-xs-3">
            @foreach (var leergebied in item.Leergebieden)
            {
                <h4>@Html.DisplayFor(d => leergebied.Naam)</h4>
            }
            <br />
            @foreach (var doelgroep in item.Doelgroepen)
            {
                <h5>@Html.DisplayFor(d => doelgroep.Naam)</h5>

            }
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
            <h4 class="price">@Html.DisplayFor(modelItem => item.Prijs)</h4>
            <h5>Nog @Html.DisplayFor(modelItem => item.AantalInCatalogus) beschikbaar</h5>

            @using (Html.BeginForm("VoegAanVerlanglijstToe", "Catalogus", new { id = item.MateriaalId }))
            {
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Verlanglijst
                </button>
            }
        </div>
    </div>



}



