@using DidactischeLeermiddelen.Models.Domain
@model DidactischeLeermiddelen.ViewModels.MateriaalViewModel
<div class="img-side">
    <div class="col-sm-12 col-xs-12">
        <img src="@Model.Foto" alt="@Model.Foto" itemprop="@Model.MateriaalId" />
    </div>
</div>
<div class="info-side">
    <div class="col-sm-12 col-xs-12">
        <h3 class="title">@Html.DisplayFor(modelItem => Model.Naam)</h3>
        <h5 class="manufacturer">@Html.DisplayFor(modelItem => Model.Firma)</h5>
        <h4 class="description">@Html.DisplayFor(modelItem => Model.Omschrijving)</h4>
        <h5 class="info">Artikelnummer: @Html.DisplayFor(modelItem => Model.MateriaalId)</h5>
        <h5 class="info">Status: @Html.DisplayFor(modelItem => Model.Status)</h5>
    </div>
    <div class="filtergroup">
        <div class="col-xs-6">
                @foreach (var leergebied in Model.Leergebieden)
            {
                    <h4>@Html.DisplayFor(d => leergebied.Naam)</h4>
                }

        </div>
        <div class="col-xs-6">
                @foreach (var doelgroep in Model.Doelgroepen)
            {
                    <h5>@Html.DisplayFor(d => doelgroep.Naam)</h5>

                }
        </div>
    </div>
    <div class="footergroup text-center">
        <div class="col-xs-12">
        <h4 class="price">@Html.DisplayFor(modelItem => Model.Prijs)</h4>
        <h5>@Html.DisplayFor(modelItem => Model.AantalInCatalogus) beschikbaar</h5>

        @using (Html.BeginForm("VoegAanVerlanglijstToe", "Catalogus", new {id = Model.MateriaalId}))
        {
            <button type="submit" class="btn btn-default btn-verlanglijst">
                <span class="glyphicon glyphicon-shopping-cart"></span> Verlanglijst
            </button>
        }
            </div>
    </div>
</div>
<div>
    @using (Html.BeginForm("Index", "Catalogus"))
    {
        <button type="submit" class="btn btn-default">
            &laquo; Homepagina
        </button>
    }
</div>



