@model DidactischeLeermiddelen.ViewModels.MaterialenViewModel

@{
    ViewBag.Title = "Catalogus";
}

<div class="form-horizontal">
    <hr />  
    <div class="form-group">
        <div class="col-md-12">
            @using (Html.BeginForm("Zoek", "Catalogus"))
            {
                @Html.TextBox("trefwoord","Naam of trefwoord", new {@class="col-lg-12 col-lg-offset-2)", onfocus = "if (this.value == 'Naam of trefwoord') { this.value = ''; }"})
                <button type="submit" value="search" class="btn btn-default">
                    <span class=".btn-lg"></span> Zoeken
                </button>
            }
            @using (Html.BeginForm("VerwijderZoekResultaat", "Catalogus"))
            {
                <button type="submit" value="Clear" class="btn btn-default">
                    <span class=".btn-lg"></span> Verwijder Resultaten
                </button>
            }
            @using (Html.BeginForm("Zoek", "Catalogus"))
            {
                <input type="search" name="trefwoord" placeholder="Naam of trefwoord" class="input-medium" id="inhoud" />
                <div class="btn btn-default" id="zoek">Zoek</div>
            }
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-2">
        @Html.Label("DoelgroepId", "Doelgroep:")
        @foreach (var item in Model.DoelgroepenViewModel.DoelgroepenLijst)
        {
            <div class="checkboxOpmaak">
                <label for="groepen"></label>              
                <input type="checkbox" name="doelgroepen" id="groepen" value="@item.Text">@item.Text
            </div>

        }
    </div>
    <div class="col-md-2">
        @Html.Label("LeergebiedId", "Leergebied:")
        @foreach (var item in Model.LeergebiedenViewModel.LeergebiedenSelectList)
        {
            <div class="checkboxOpmaak">
                <label for="gebieden"></label>
                <input type="checkbox" name="leergebieden" id="gebieden" value="@item.Value">@item.Text
    </div>
        }
    </div>

</div>

<div id="catalogus">
    @Html.Partial("Catalogus", Model.Materialen)
</div>
@section scripts
{
    <script src="~/Scripts/catalogusScript.js"></script>
}
