@model DidactischeLeermiddelen.ViewModels.MaterialenViewModel

@{
    ViewBag.Title = "Catalogus";
}

<div class="form-horizontal">
    <hr />  
    <div class="form-group">
        <div class="col-md-12">
            @using (Html.BeginForm("Zoek", "Catalogus"))
            {
                <input type="search" name="trefwoord" value="Naam of trefwoord" class="input-medium" />
                <input type="submit" value="Search" />
            }
        </div>
    </div>
</div>


<div class="form-group">
    <div class="col-md-6">
        @Html.Label("DoelgroepId", "Doelgroep")
        @Html.DropDownList("DoelgroepId", ViewBag.Doelgroepen as SelectList, "--alle doelgroepen--", new { @class = "form-control", @id = "doelgroepLijst" })
    </div>
    <div class="col-md-6">
        @Html.Label("LeergebiedId", "Leergebied")
        @Html.DropDownList("LeergebiedId", ViewBag.Leergebieden as SelectList, "--alle leergebieden--", new { @class = "form-control", @id = "leergebiedLijst" })
    </div>
</div>
<div id="catalogus">
    @Html.Partial("Catalogus1", Model.Materialen)
</div>
@section scripts
{
    <script src="~/Scripts/catalogusScript.js"></script>
}
