@model IEnumerable<DidactischeLeermiddelen.ViewModels.VerlanglijstViewModel>

@{
    ViewBag.Title = "Uw verlanglijst";
}

<h2>Uw verlanglijst</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@item.Foto" alt="@item.Foto" />

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Omschrijving)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
    </tr>
}

</table>
