@model DidactischeLeermiddelen.ViewModels.VerlanglijstMaterialenViewModel
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @foreach (var item in Model.Materialen)
    {
        <div class="row materiaal @(item.Geselecteerd ? "geselecteerd":"")"id="@item.MateriaalId">
            <div class="img-side">
                <div class="col-md-1 col-sm-1 hidden-xs">
                    <div class="checkbox">
                        @Html.CheckBox("group1", new { id = item.MateriaalId })
                        @Html.CheckBoxFor(m => item.Geselecteerd, new { id = item.MateriaalId })
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <img src="@item.Foto" alt="@item.Foto" itemprop="@item.MateriaalId" />
                </div>
            </div>
            <div class="info-side">
                <div class="checkbox hidden-lg hidden-md hidden-sm">
                    @Html.CheckBox("group1", new { id = item.MateriaalId })
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <h3 class="title">@Html.DisplayFor(modelItem => item.Naam)</h3>
                    <h5 class="manufacturer">@Html.DisplayFor(modelItem => item.Firma)</h5>
                </div>
                <div class="col-md-2 hidden-sm hidden-xs">
                    <div class="leergebied">
                        @foreach (var leergebied in item.Leergebieden)
                        {
                            <h4>@Html.DisplayFor(d => leergebied.Naam)</h4>
                        }
                    </div>

                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h5>@Html.DisplayFor(modelItem => item.AantalBeschikbaar) beschikbaar</h5>
                    @using (Html.BeginForm("VerwijderUitVerlanglijst", "Verlanglijst", new { id = item.MateriaalId }))
                {
                        <div class="form-group">
                            <label class="sr-only" for="aantal">Aantal</label>
                            <input type="number" name="aantal" value="0" min="0" max=@item.AantalBeschikbaar class="input-medium aantal" />

                        </div>
                        <button type="submit" class="btn btn-delete">
                            <span class="glyphicon glyphicon-remove"></span> Verwijderen
                        </button>
                    }
                </div>
            </div>
        </div>
    }